.error {
  display: flex;
  flex-direction: column;
  align-items: center;

  .errorNumber {
    color: #ff6060;
    font-family: Montserrat;
    font-size: 288px;
    font-style: normal;
    font-weight: 700;
    margin-top: 89px;
    margin-bottom: 139px;
  }
  .errorText {
    color: #ff6060;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .returnHome {
    color: #ff6060;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 25.668px */
    text-decoration-line: underline;
    margin: 139px;
  }
}
@media screen and (max-width: 950px) {
  .error {
    height: 100%;
    p {
      width: auto;
    }
    .errorNumber {
      font-size: 150px;
    }
    .errorText {
      font-size: 2rem;
      margin-left: 50px;
      margin-right: 50px;
      text-align: center;
    }
    .returnHome {
      text-align: center;
      margin-left: 50px;
      margin-right: 50px;
    }
  }
}
@media screen and (max-width: 375px) {
  .error {
    width: auto;
    .errorNumber {
      text-align: center;
      font-size: 130px;
      margin-bottom: 50px;
    }
    .returnHome {
      text-align: center;
    }
  }
}
